# Don't Publish Me!

# Output
build

# esmodules
.esm-cache

# Config
.vscode
.cz-config.js
.eslintrc.js
.prettierrc
.prettierignore
documentation.yml

# Documentation
docs
guides
tree.txt
.github

# Tests
__mocks__
test
test-app