{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": { "browsers": "last 2 versions" }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime" // runtime needed for generators
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-runtime" // Library babel-helpers with import statements
      ]
    }
  }
}
